  /* Estilos para el encabezado */
  #header {
      padding-top: 30px;
      padding-bottom: 20px;
      box-shadow: 1px 1px 3px #3C2A21;
  }

  /* Estilos para los enlaces dentro del encabezado */
  #header a {
      color: black;
      text-decoration: none;
  }

  /* Estilos para las listas dentro del encabezado */
  #header ul {
      list-style: none;
  }

  /* Estilos para el contenedor directo dentro del encabezado */
  #header>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 0 auto;
  }

  /* Estilos para la barra de navegación y sus listas */
  #top-nav,
  #top-nav ul {
      display: flex;
      align-items: center;
  }

  /* Estilos para los elementos de la lista de navegación */
  #top-nav li {
      color: #79D671;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 10px 10px 0px 10px;
      transition: all 0.25s ease-out;
      border-bottom: 5px solid var(--main-green);
      margin-right: 5px;
  }

  /* Estilos para el botón de inicio de sesión */
  #login-button {
      padding: 10px 30px;
      font-weight: bold;
      color: white;
      font-size: 1.1rem;
      border-radius: 3px;
      background-color: #79D671;
      border: none;
      cursor: pointer;
  }

  /* Estilos para los efectos de hover en los enlaces y el botón de inicio de sesión */
  #top-nav a:hover li,
  #login-button:hover {
      border-radius: 3px;
      background-color: #79D671;
      opacity: 0.9;
      color: white;
  }

  /*-------------------------------------------------------------------------------------------------------------------- */
  /* Declaración de variable personalizada para el color verde principal */
  :root {
      --main-green: #79D671;
  }

  /* Estilos para el cuerpo */
  body {
      margin: 0;
      font-family: 'Catamaran', sans-serif;
  }

  /* Clase para el color verde usando la variable principal */
  .green-color {
      color: var(--main-green);
  }

  /* Estilos para un bloque verde */
  .green-block {
      background-color: var(--main-green);
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 10px;
      margin-bottom: 30px;
      margin-top: 15px;
  }

 

  /* Estilos para el pie de página */
  #footer {
      margin-top: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: var(--main-green);
      color: white;
      text-align: center;
      font-size: 1.2rem;
  }